##
## EPITECH PROJECT, 2024
## B-PSU-200-REN-2-1-minishell1-savinien.petitjean
## File description:
## .gitignore
##

# IDE
.idea
.vscode

# Bin
dump
mysh

# Build
*.out
*.[aod]
*.cor

# nix
.direnv
.envrc
.pre-commit-config.yaml
result

# Cache
.cache
.fast

# Coverage
*.gc??
testcmd
tester.sh
tests
unit_tests

# Python (CI)
*.pyc
